(
    id: "segfault_v2",
    name: "Segfault Single v2.0",
    description: "Damage 11 to one target",
    target: OneEnemyGroupFront,
    effect: Damage(power: 11),
    cooldown: 3,
    power_cost: 8.0,
)
