(
    id: "tutorial_take_a_look",
    name: "Take a Look",
    description: "Above ground, press [x] and pick a direction to read whatever semi sentient software is out there.",
    objective: Perform(deed: Examined),
    reward: [Credits(10), Xp(30)],
    tutorial: Some(20),
)
