(
    id: "tutorial_first_light",
    name: "First Light",
    description: "Instantiate your pocket dimension, a virtual machine where you can build and grow. Put your Home down. \n\n 'b' for build, Deploy -> place home",
    objective: Build(structure: "home"),
    reward: [Credits(10), Xp(30)],
    tutorial: Some(10),
)
