(
    id: "hardened_shell",
    name: "Hardened Shell",
    description: "Standard armor. Solid, unglamorous protection.",
    value: Some(12),
    equipment: Some((Armor, (def: 3))),
    craftable: Some((cost: [("bytecode_block", 2), ("charge_coil", 2)], requires_structure: Some("armory"))),
    droppable: Some([("wraith", 0.1), ("sentinel", 0.08)]),
)
