(
    id: "rootkit",
    name: "Rootkit",
    glyph: 'k',
    color: Red,
    base_hp: 132,
    base_atk: 12,
    base_mitigation: 3,
    taming_difficulty: 0.75,
    growth_multiplier: 1.5,
    habitats: [Mainframe, NullSector],
    base_speed: 9,
    base_int: 13,
    moves: [
        (name: "Privilege Escalation", power: 10, spread: 3, effect: Some((kind: Stun, chance: 0.4, duration: 2, power: 0))),
        (name: "Kernel Panic", power: 12, spread: 3, ranged: true),
    ],
    work_resource: None,
    abilities: [(id: "skim_group", level: 2), (id: "skim_v3", level: 4)],
    affinities: (buff: 0.85, drain: 1.3),
)
