(
    features: [
        ("move_power_rel", 2.1358514),
        ("move_ranged", -2.2949076),
        ("move_has_effect", 0.86786115),
        ("move_effect_stun", 0.75001603),
        ("move_effect_bleed", -0.7145092),
        ("move_effect_chance", 2.0488663),
        ("target_hp_frac", -10.877123),
        ("target_is_player", 0.0),
        ("target_def_rel", 0.0),
        ("target_stunned", 0.15467311),
        ("target_bleeding", 0.77780104),
        ("target_bracing", 0.0),
        ("est_damage_frac", 10.1285),
        ("would_kill", 5.836204),
        ("self_hp_frac", -2.7974792),
        ("self_front_group", -0.3765129),
        ("effect_x_target_healthy", -6.870143),
        ("stun_x_not_stunned", -1.5708023),
        ("bleed_x_not_bleeding", -1.394961),
    ],
)